/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #000, #0a0a0a, #000);
  color: white;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
    1200px 600px at top center,
    #111827,
    #000000
  );
  color: white;
}
